.invitationtable-title {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.table {
    padding-bottom: 7ch;
}

.invitationtable-button__icon-green {
    color: green;
}

.invitationtable-button__icon-red {
    color: red;
}

@media screen and (max-width: 900px) {
    .column-display {
        display: none;
    }
}