.regenter-title {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.regenter-zone {
    padding-bottom: 7ch;
    justify-content: center;
    display: flex;
}

.regenter-input {
    max-width: 50ch;
    min-width: 33ch;
}

.regenter-results {
    min-height: 5ch;
    max-height: 25ch;
    overflow-y: auto;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 8px;
}

.regenter-results__name {
    margin: 3ch 0 3ch 0;
    padding: 0 20px;
}

.regenter-results__button {
    margin: 35px 0 0.5ch 0;
}

.regenter-results__name-bold {
    font-weight: bold;
    font-size: 17px;
}

.regenter-results__status {
    font-size: 12px;
    color: rgba(116, 128, 140, 0.45);
    margin-top: 6px;
}

.regenter-divider {
    margin: 0;
    padding: 0 5ch;
}

@media screen and (min-width: 450px) {
    .regenter-input {
        width: 50ch;
    }
}