.container {
    padding: 10ch 15ch 0 15ch;
    background: whitesmoke;
}

.homeblocks {
    margin-top: 70px;
}

@media screen and (max-width: 1050px) {
    .container {
        padding: 50px 20px;
    }
}