.regform-title {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.regform-form {
    margin-right: 25px;
}

.regform__input {
    max-width: 350px;
    margin-bottom: 15px;
}

.regform__button {
    margin: 25px 0px 50px 0;
}

@media screen and (max-width: 900px) {
    .regform__input {
        max-width: 280px;
    }

    .regform__button {
        margin: 25px 0px 10px 0;
    }
}